$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
  margin: 0px auto;
  max-width: 700px;
//   // margin-left: 00px;

// background-color: turquoise;
}
h1 {
  color: blue;
  margin: 0px auto;
  text-align: center;
}
.cell {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-color:black;
  background:black;
  border-radius: 15px;
  display: table-cell;
  font-size: 50px;
  text-align: center;
  color: blue;
   opacity: 0.8;
   filter: alpha(opacity=80);
}

.cell:hover {
  background-color: blue;
  opacity: 0.8;
  filter: alpha(opacity=70);
}

.grid {
  margin-top: 80px;
  display: table;
  border-spacing: 10px;
  margin: 0px auto;
  margin-top: 50px;

}

.row {
  display: table-row;
}

